<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sistema Experto Salud</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleCard()">
        <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong class="capitalize">Bienvenido a su diagnóstico</strong>
    <p>Según las respuestas dadas tendrá su resultado:</p>
    <ion-card *ngIf="showCard">
      <ion-card-header>
        <ion-card-title>Responde las siguientes preguntas</ion-card-title>
         <p>[PREGUNTAS]</p>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block">si</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block">no</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-button (click)="toggleCard()" *ngIf="showButtonStarted"
      >Iniciar</ion-button
    >
  </div>
</ion-content>
