<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Sistema Experto Salud</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sistema Experto Salud</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize" *ngIf="buttonInitial"
      >Bienvenido a su diagnóstico</strong
    >
    <p *ngIf="buttonInitial">Según las respuestas dadas tendrá su resultado:</p>
    <ion-card *ngIf="cardQuestions">
      <ion-card-header>
        <ion-card-title>Responde las siguientes preguntas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{questionText}}</p>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="question(true)">si</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="question(false)">no</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card *ngIf="cardAnswer">
      <ion-card-header>
        <div *ngFor="let item of listAnswer;let indice=index">
          <ion-card-title style="margin-bottom: 20px;text-align: left;">{{item}}</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
    <ion-button
      (click)="setCardQuestions();question(true);setButtonInitial()"
      *ngIf="buttonInitial"
      >Iniciar</ion-button
    >
  </div>
  <div id="footer"><p>📌 Creado por Eduardo y Raisa</p></div>
</ion-content>
